/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
* {
        /* ie scrollbar color properties */
 
        scrollbar-base-color: rgba(180,180,180,0.75);
        scrollbar-face-color: rgba(203,203,203,0.55);
        scrollbar-track-color: rgba(180,180,180,0.75);
        scrollbar-arrow-color: #ffffff;
        scrollbar-shadow-color: rgba(203,203,203,0.55);
        scrollbar-dark-shadow-color: rgba(255,255,255,0.0);
  }
}

/*Edge*/


/*Firefox*/
/*From version 64 - https://drafts.csswg.org/css-scrollbars-1/*/
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(180,180,180,0.75) rgba(203,203,203,0.55);
}


/*Chrome*/
*::-webkit-scrollbar-track {
    background-color: rgba(203,203,203,0.55);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(180,180,180,0.75);
}

*::-webkit-scrollbar {
	width: 8px !important;
    background-color: rgba(255,255,255,0.5);
}